<div class="row-fluid message">
  <div class="span1">
    <%= gravatar_tag message.user.email, :size => 50, :title => message.user.email %>
  </div>
  <div class="span9">
  	<%if message.user.nick.empty? %>
	    <p class="small_text"><%= message.user.email %></p>
	<%else%>
	    <p class="small_text"><%= message.user.nick %></p>
	<%end%>
    <%= simple_format message.body %>
  </div>
  <% if current_user.email == message.user.email %>
	  <div class='span2'>
	    <%= link_to 'editar', edit_topic_message_path(@topic, message), class: 'btn btn-mini btn-info' %>
	      <%= link_to 'deletar', topic_message_path(@topic, message), :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
	  </div>
  <% end %>
</div>
